.contact-preview {
    padding: 10px;
    background-color: aliceblue;
    position: relative;
    transition: transform .4s;

    &:hover{
        transform: scale(1.02);
    }

    article {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}